@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --muted: #71717a;
  --border: #27272a;
  --card: #18181b;
  --silver: #a1a1aa;
}

body {
  color: var(--foreground);
  background: var(--background);
}
